.common-logo {
    position: relative;
    // margin-top: 50px;
}

.central-logo-landscape {
    height: 70vh;

    @media screen and (max-height: 500px) {
        height: 90vh;
    }
}

.transition-zoom {
    transition: all 100ms ease-in;
}

.transition-opacity {
    transition: opacity 100ms ease-in;
}
  

.central-logo-landscape-zoom {
    height: 80vh;   

    @media screen and (max-height: 600px) {
        height: 130vh;
        margin-top: 30px;
    }
}

.central-logo-portrait {
    // width: 90vw;  
    transform: scale(0.9);
    animation: eyebounceClose 200ms forwards ; 
    animation-timing-function: ease-in;
}

.central-logo-portrait-zoom {
    // width: 100vw;   
    // animation: eyebounce 1s;
    // margin-left: -5px;

    @media screen and (max-width: 500px) {
        animation: eyebounce 200ms forwards ;
        animation-timing-function: ease-in;
        // width: 180vw;
        
        // margin-left: 8px;

        
    }
}

@keyframes eyebounce {
    0% { transform: scale(0.9);}
    80% { transform: scale(2.1); }
    85% { transform: scale(2); }
    100% { transform: scale(1.85); margin-left: (8px);}
  }

  @keyframes eyebounceClose {
    0% { transform: scale(1.85); }
    80% { transform: scale(0.7); }
    85% { transform: scale(0.85); }
    100% { transform: scale(0.9); }
  }

.fit-image {
    max-width: 100%;
    max-height: 100%;
}

.place-hole {
    position: absolute;
    top: 0;
    left: 0;
}

.hide {
    opacity: 0;
}

.hide-image-controls {
    display: none;
}

.show-image-controls {
    display: block;
}