<div class="scene">
  <app-central-logo></app-central-logo>
  <div class="menu-holder">
    <app-rub1 [activeRubrique]="activeRubrique" [rubrique]="1"></app-rub1>
    <app-rub2 [activeRubrique]="activeRubrique" [rubrique]="2"></app-rub2>
    <app-rub3 [activeRubrique]="activeRubrique" [rubrique]="3"></app-rub3>
    <app-rub4 [activeRubrique]="activeRubrique" [rubrique]="4"></app-rub4>
    <app-rub5 [activeRubrique]="activeRubrique" [rubrique]="5"></app-rub5>
    <app-rub6 [activeRubrique]="activeRubrique" [rubrique]="6"></app-rub6>
    <app-rub7 [activeRubrique]="activeRubrique" [rubrique]="7"></app-rub7>
  </div>
</div>
